{
    // How to read the config:
    //
    //    * 0 - rule is disabled.
    //    * 1 - rule is enabled but warnings will not affect the ESLint exit code.
    //    * 2 - rule is enabled and warnings will result in a non-zero ESLint exit code.
    //
    // These rules are compatible with ESLint version 0.16.0 and up.
    // Detailed info about each of these rules can be found at http://eslint.org/docs/rules.

    "env": {
        "node": true
    },
    "rules": {
        "array-bracket-spacing": 2,
        "block-scoped-var": 2,
        "brace-style": [2, "1tbs", {"allowSingleLine": false}],
        "comma-style": [2, "last"],
        "computed-property-spacing": 2,
        "consistent-return": 2,
        "consistent-this": [0, "self"],
        "default-case": 2,
        "func-style": [2, "expression"],
        "guard-for-in": 2,
        "indent": [2, 4, {"SwitchCase": 1}],
        "keyword-spacing": 2,
        "max-len": [2, 150],
        "max-nested-callbacks": [2, 3],
        "max-statements": [2, 40],
        "no-array-constructor": 2,
        "no-console": 2,
        "no-constant-condition": 2,
        "no-div-regex": 2,
        "no-else-return": 2,
        "no-eq-null": 2,
        "no-floating-decimal": 2,
        "no-inline-comments": 2,
        "no-lonely-if": 2,
        "no-multiple-empty-lines": [2, {"max": 3}],
        "no-nested-ternary": 2,
        "no-process-env": 2,
        "no-return-assign": 2,
        "no-self-compare": 2,
        "no-shadow": 0,
        "no-sync": 2,
        "no-undefined": 2,
        "no-void": 2,
        "no-warning-comments": [2, { "terms": ["todo", "note", "fixme", "changes", "future"], "location": "start" }],
        "object-curly-spacing": 2,
        "operator-assignment": [2, "always"],
        "quote-props": [2, "as-needed", {"keywords": true}],
        "quotes": [2, "single"],
        "radix": 2,
        "semi": [2, "always"],
        "sort-vars": [2, { "ignoreCase": false }],
        "space-before-blocks": [2, "always"],
        "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}],
        "space-in-parens": [2, "never"],
        "space-infix-ops": 2,
        "space-unary-ops": [2, { "words": true, "nonwords": false }],
        "spaced-comment": [2, "always"],
        "strict": [2, "global"],
        "vars-on-top": 2,
        "wrap-iife": [2, "outside"],
        "wrap-regex": 2
    }
}
